#chart {
  position: relative;
  height: 500px;
  width: 960px;
  margin: auto
}

.infobox {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 130px;
  z-index: 10;
}

.navigation > * {
  display: inline-block;
  margin-left: 10px;
  max-width:250px;
}

line {
  stroke: lightgrey;
  opacity: 0.7;
  z-index: 5;
}

#threshold {
  width: 6em;
}
