#khazix {
  padding: 5px;
  background-image: url("https://ap.hpp3.me/images/Khazix_0.jpg");
  background-size: cover;
  color: white;
  background-position: 70% center;
  text-shadow: 2px 2px black;
}
