.navbar.navbar-default.navbar-static-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') API(tems)
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li
          a(href='/items') Items
        li.active
          a(href='/champions/chart') Champions
        li
          a(href='/about') About
link(rel='stylesheet', href='/stylesheets/champ_chart.css')
script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8")
script(src="/javascripts/champs.js")
link(rel='stylesheet', href='https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css')
script(src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js" charset="utf-8")
.navigation
  button.btn.btn-default#patch(type='button' value='5.14') Displayed Patch: 5.14
  button.btn.btn-default#type(type='button' value='all') All Champions
  span Minimum Popularity to Display:
  input.form-control#threshold(type='number',min='0', max='100', step='0.1',value='0.3')
  span %

#chart
.container
  table#champ-table
