.navbar.navbar-default.navbar-static-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') API(tems)
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Home
        li
          a(href='/items') Items
        li
          a(href='/champions/chart') Champions
        li
          a(href='/about') About
.container
  .jumbotron#khazix
    h1 Change... is good.
    p Patch 5.13 brought a massive rework to AP itemization.
    p Let's explore some of the impact of these changes.
    p
      a.btn.btn-lg.btn-primary(href='items', role='button') Jump in &raquo;
