.container
  .jumbotron#khazix
    h1 Change... is good.
    p Patch 5.13 brought a massive rework to AP itemization.
    p Let's explore some of the impact of these changes.
    p
      a.btn.btn-lg.btn-primary(href='items', role='button') Jump in &raquo;
